.add-event-form {
  margin: 20px 10px 0;
}

.add-event-form__title {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: $black;
}

.add-event-form__info {
  box-sizing: border-box;
  padding: 30px 20px;
  background: $gray-100;
  margin: 20px 0;
}

.add-event-form__info__p,
.add-event-form__required-info {
  font-size: 1.4rem;
  line-height: 22px;
  color: $gray-800;
}

.add-event-form__required-info {
  margin: 25px;
}

.add-event-form__section {
  margin-bottom: 20px;
}

.add-event-form__section__title {
  font-size: 1.8rem;
  font-weight: 700;
  color: $gray-800;
  padding-bottom: 8px;
  margin-bottom: 15px;
  border-bottom: 1px solid $gray-400;
}

// ---
// wysiwyg
.note-editor.note-airframe .note-status-output,
.note-editor.note-frame .note-status-output {
  display: none;
}

.note-editor.note-airframe,
.note-editor.note-frame {
  border: 2px solid $gray-300;
  border-radius: 6px;
  min-height: 280px;
  margin-bottom: 30px;
}

.note-editor.note-airframe .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-airframe .note-editing-area,
.note-editor.note-frame .note-editing-area {
  min-height: 240px;
}

.note-editor.note-airframe .note-editing-area,
.note-editor.note-frame .note-editing-area {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: $gray-800;
  font-size: 1.4rem;
}

.note-toolbar.card-header {
  padding: 4px 8px;
  height: 28px;
  box-sizing: content-box;
}

.note-popover .popover-content > .note-btn-group,
.note-toolbar > .note-btn-group {
  margin: 0;
}

.note-btn {
  margin-right: 5px;
}

// ---

.add-event-form__section__label,
.add-event-form__section__p,
.add-event-form__section__date__start-date__date-input__label,
.add-event-form__section__date__end-date__date-input__label,
.add-event-form__section__added-files__li__p {
  display: block;
  font-size: 1.4rem;
  color: $gray-800;
}

.add-event-form__section__added-files__li {
  font-size: 1.4rem;
  color: $gray-800;
  line-height: 25px;
}

.add-event-form__section__added-files__li__del-btn {
  width: 25px;
  height: 25px;
  background: $red-alt;
  border: none;
  border-radius: 50px;
  color: $white;
  font-weight: 700;
  cursor: pointer;
}

.add-event-form__section__p {
  margin-bottom: 30px;
}

.add-event-form__section__date__start-date__date-input__label,
.add-event-form__section__date__end-date__date-input__label {
  display: inline;
  margin-right: 15px;
}

.add-event-form__section__input,
.add-event-form__section__date__start-date__date-input__input,
.add-event-form__section__date__end-date__date-input__input {
  margin-bottom: 20px;
  width: 100%;
  min-height: 40px;
  border-radius: 6px;
  border: 2px solid $gray-300;
  color: $gray-800;
  padding-left: 8px;
  font-size: 1.4rem;
}

.add-event-form__section__date__start-date__date-input,
.add-event-form__section__date__end-date__date-input {
  margin-bottom: 8px;
}

.add-event-form__section__date__start-date__date-input__input,
.add-event-form__section__date__end-date__date-input__input {
  max-width: 130px;
  margin: 0;
}

.add-event-form__section__date__start-date__date-input__label__icon,
.add-event-form__section__date__end-date__date-input__label__icon {
  margin-right: 10px;
}

.add-event-form__section__date__start-date {
  margin-bottom: 20px;
}

.add-event-form__section__input::placeholder {
  color: $gray-500;
}

.add-event-form__section__file-input,
.add-event-form__section__file-input__input {
  width: 130px;
  height: 90px;
  background: none;
  border-radius: 6px;
  border: 2px solid $gray-300;
  cursor: pointer;
}

.add-event-form__section__input--select {
  padding-top: 8px;
  padding-bottom: 8px;
  appearance: none;
  cursor: pointer;
  color: $gray-500;
  position: relative;
  margin-bottom: 8px;
}

.add-event-form__section__file-input {
  position: relative;
  margin-bottom: 25px;
}

.add-event-form__section__file-input:before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background: $blue;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-event-form__section__file-input:after {
  content: "+";
  font-size: 32px;
  color: $white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -54%);
}

.add-event-form__section__file-input__input {
  opacity: 0;
  position: relative;
  z-index: 5;
}

.add-event-form__section__input--disabled-resize {
  resize: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-event-form__section__input--comment {
  min-height: 160px;
}

.add-event-form__section__file-input--downloads,
.add-event-form__section__file-input--downloads__input {
  width: 155px;
  height: 40px;
  background: $blue;
  border-radius: 50px;
  color: $white;
  position: relative;
  cursor: pointer;
}

.add-event-form__section__file-input--downloads {
  margin: 0 0 40px auto;
}

.add-event-form__section__file-input--downloads:after {
  content: "+ Dodaj";
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.add-event-form__section__file-input--downloads__input {
  position: relative;
  z-index: 5;
  opacity: 0;
}

.add-event-form__section__added-files {
  padding: 0 0 0 16px;
  margin-bottom: 24px;
  box-sizing: content-box;
}

.add-event-form__section--submit {
  border-top: 3px solid $gray-400;
  padding-top: 30px;
}

.add-event-form__section__checkbox-parent,
.add-event-form__section__checkbox-parent__checkbox {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 5px;
}

.add-event-form__section__checkbox-parent__checkbox {
  position: relative;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.add-event-form__section__checkbox-parent {
  position: relative;
  border: 2px solid $gray-400;
  margin: 0 10px 0 0;
}

.add-event-form__section__checkbox-parent__icon--checked {
  content: "";
  display: block;
  width: 16px;
  height: 11px;
  background: url("../img/icons/ico_checkbox-check.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-event-form__section__submit {
  width: 165px;
  height: 60px;
  text-transform: uppercase;
  background: $blue;
  color: $white;
  font-weight: 600;
  font-size: 2rem;
  border: none;
  border-radius: 50px;
  margin: 50px auto;
  display: block;
  cursor: pointer;
}

@media (min-width: 768px) {
  .add-event-form {
    max-width: 560px;
    margin: 35px auto 0;
  }

  .add-event-form__title {
    font-size: 2.6rem;
  }

  .add-event-form__required-info {
    margin-bottom: 50px;
  }

  .add-event-form__section__input {
    padding-left: 15px;
  }

  .add-event-form__section__input--disabled-resize {
    height: 40px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .add-event-form__section {
    margin-top: 30px;
  }

  .add-event-form__section__date__start-date__date-input,
  .add-event-form__section__date__start-date__hour-input,
  .add-event-form__section__date__end-date__date-input,
  .add-event-form__section__date__end-date__hour-input {
    width: 100%;
  }

  .add-event-form__section__input--select {
    height: 40px;
    width: 20%;
    margin-right: 15px;
  }

  .add-event-form__section__flex__input-parent {
    width: 100%;
  }

  .add-event-form__section__flex__input-parent:first-child {
    margin-right: 15px;
  }
}
