.calendar__box__checkbox__h2 {
  text-transform: uppercase;
  margin-bottom: 18px;
}

.calendar__box__widget {
  border: 2px solid $blue;
  border-radius: 5px;
  padding: 10px;
  background: $white;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.19);
}

.calendar__box__request-event {
  margin: 40px auto;
}

.calendar__box__events {
  display: none;
}

.calendar__container,
.calendar__box {
  padding-bottom: 0;
}

.calendar__box {
  padding-bottom: 10px !important;
}

.calendar__box__events__event-box--single-event__headers {
  position: relative;
}

@media (max-width: 767px) {
  #dncalendar-header,
  #dncalendar-body {
    display: block;
  }

  .calendar__box__events {
    transform: none;
  }
}

@media (min-width: 768px) {
  .calendar__box {
    max-width: 720px;
  }

  .calendar__box__checkbox__h2 {
    text-align: left;
    font-size: 2.6rem;
  }

  .calendar__box_checkbox__checkboxes__h6 {
    font-size: 1.4rem;
    color: $black;
    font-weight: 600;
    margin: 0 15px 0 0;
  }

  .calendar__box__checkbox__checkboxes__flex__parent {
    position: relative;
    cursor: pointer;
    height: 21px;
  }

  .calendar__box__checkbox__checkboxes__flex__parent__input,
  .calendar__box__checkbox__checkboxes__flex__parent__input--custom {
    cursor: pointer;
    opacity: 0;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 0;
    background: none;
  }

  .calendar__box__checkbox__checkboxes__flex__parent__input--custom {
    opacity: 1;
    border-radius: 5px;
    border: 2px solid $gray-300;
  }

  .calendar__box__checkbox__checkboxes__flex__parent__label {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    padding-left: 30px;
    cursor: pointer;
    font-size: 1.4rem;
  }

  .calendar__box__checkbox__checkboxes__request-event {
    width: 265px;
    height: 40px;
    font-size: 1.4rem;
    font-weight: 600;
    background: $blue;
    color: $white;
    border: none;
    box-shadow: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 0 auto;
  }

  .calendar__box__checkbox__checkboxes__request-event:hover {
    text-decoration: none;
    color: $white;
  }

  .calendar__box__checkbox__checkboxes__request-event__span {
    font-size: 3.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 40px;
    padding-right: 12px;
  }

  .pos-xl-rel {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .calendar__box__widget {
    max-width: 320px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #js-calendar__box__widget--second,
  #js-calendar__box__widget--third {
    border: none;
  }

  .calendar__box__events__event-box--single-event__headers {
    width: 540px;
  }
}

@media (min-width: 1180px) {
  .calendar__box {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .calendar__box__checkbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .calendar__box__checkbox__h2 {
    margin: 0;
  }

  .calendar__box__checkbox__checkboxes {
    width: 700px;
  }

  .calendar__box__widget {
    position: static;
    margin-left: 20px;
    margin-right: 20px;
  }

  .calendar__box__events__event-box--single-event__headers {
    width: 940px;
  }
}
