.calendar__h2,
.calendar__box__h2,
.calendar__box__checkbox__h2 {
  font-size: 2.2rem;
  font-weight: 700;
  color: $black;
  text-align: center;
  font-family: "Raleway", sans-serif;
  margin-bottom: 12px;
}

.calendar__box {
  background: $gray-100;
  padding: 35px 10px 50px 10px;
}

.calendar__box__request-event {
  width: 265px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 600;
  background: $blue;
  color: $white;
  border: none;
  box-shadow: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
}

.calendar__box__request-event__span {
  font-size: 3.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 12px;
}

.calendar__box__request-event:hover {
  text-decoration: none;
  color: $white;
}

.calendar__box__events {
  margin-top: 40px;
}

.calendar__box__events__event-box {
  background: $white;
  border-radius: 5px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.21);
  height: 58px;
  width: 100%;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  cursor: pointer;
  margin-bottom: 8px;
}

.calendar__box__events__event-box,
.calendar__box__events__event-box:hover {
  text-decoration: none;
}

.calendar__box__events__event-box--single-event__date {
  width: 67px;
  height: 100%;
  color: $white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar__box__events__event-box--single-event__date__h2 {
  font-weight: 700;
  font-size: 2.2rem;
  margin: 0;
}

.calendar__box__events__event-box--single-event__date__p {
  font-size: 1.1rem;
  margin: 0;
}

.calendar__box__events__event-box--single-event__date,
.calendar__box__events__event-box--single-event__date--wydarzenie {
  background: $event-red;
}

.calendar__box__events__event-box--single-event__date--samorzad {
  background: $event-yellow;
}

.calendar__box__events__event-box--single-event__headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 175px;
}

.calendar__box__events__event-box--single-event__headers__h3,
.calendar__box__events__event-box--more-events__headers__h3 {
  color: $black;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 0;
}

.calendar__box__events__event-box--single-event__headers__small {
  color: $gray-700;
  font-size: 1rem;
  display: block;
  text-transform: uppercase;
}

.calendar__box__events__event-box__arrow {
  padding: 0 14px;
  height: 13px;
}

.calendar__box__events__event-box--more-events {
  padding-left: 26px;
}

@media (min-width: 768px) {
  .calendar {
    background: $gray-100;
  }

  .calendar__h2 {
    background: $gray-100;
    margin-top: 20px;
    padding-top: 50px;
    margin-bottom: 0;
    font-size: 2.8rem;
    max-width: 575px;
    margin: 0 auto;
  }

  .calendar__box {
    padding-top: 10px;
    max-width: 575px;
    margin: 0 auto;
  }

  .calendar__box__events__event-box {
    height: 70px;
  }

  .calendar__box__events__event-box--single-event__date {
    width: 94px;
  }

  .calendar__box__events__event-box--single-event__date__h2 {
    font-size: 2.6rem;
  }

  .calendar__box__events__event-box--single-event__date__p {
    font-size: 1.1rem;
  }

  .calendar__box__events__event-box--single-event__headers {
    width: 400px;
  }

  .calendar__box__events__event-box--single-event__headers__h3,
  .calendar__box__events__event-box--more-events__headers__h3 {
    font-size: 1.8rem;
  }

  .calendar__box__events__event-box--single-event__headers__small {
    font-size: 1.2rem;
  }

  .calendar__box__widget {
    width: 555px;
    background: $white;
    padding: 30px 100px;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.21);
  }
}

// calendar styles
.dncalendar-header .dncalendar-links .dncalendar-prev-month,
.dncalendar-header .dncalendar-links .dncalendar-next-month {
  background: none;
  transform: rotateY(180deg);
  border: 1px solid $gray-600;
  border-radius: 50px;
  padding: 10px;
}

.dncalendar-header .dncalendar-links .dncalendar-next-month {
  margin-right: 15px;
  transform: none;
}

.dncalendar-header .dncalendar-links .dncalendar-prev-month:after,
.dncalendar-header .dncalendar-links .dncalendar-next-month:after {
  content: url("../img/icons/ico_chevron_prawo.svg");
  display: block;
  width: 10px;
  height: 10px;
  transform: translate(3px, -3px);
}

.dncalendar-header h2 {
  font-size: 1.8rem;
  font-weight: 700;
  color: $gray-800;
  margin: 0;
  transform: translateY(10px);
}

.dncalendar-body thead td {
  font-size: 1.4rem;
  color: $black;
  text-transform: none;
}

.calendar__box__widget {
  position: relative;
}

.calendar__box__events {
  position: absolute;
  width: 100%;
  left: 0;
  transform: translateY(40px);
}

.dncalendar-links {
  background: none !important;
}

@media (max-width: 767px) {
  #dncalendar-header,
  #dncalendar-body {
    display: none;
  }

  .calendar__box__events {
    transform: none;
  }
}

@media (min-width: 1180px) {
  .calendar__container {
    position: relative;
  }

  .calendar__h2 {
    max-width: 100%;
    margin: auto;
    text-align: left;
  }

  .calendar__box__request-event {
    position: absolute;
    top: 50px;
    right: 0;
  }

  .calendar__box {
    max-width: 100%;
    padding-bottom: 0;
  }

  .pos-xl-rel {
    position: relative;
    min-height: 480px;
  }

  .calendar__box__widget {
    position: absolute;
    left: 0;
  }

  .calendar__box__events {
    right: 0;
    top: 0;
    margin: 0;
    transform: translateX(605px);
  }

  .calendar__box__events__event-box {
    margin-bottom: 13px;
  }
}
