.contact-info {
  margin: 25px 10px;
}

.contact-info__header {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: $black;
}

.contact-info__header--border-bottom {
  padding-bottom: 15px;
  border-bottom: 5px solid $gray-400;
}

.contact-info__info-parent {
  position: relative;
}

.contact-info__info-parent__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.contact-info__info-parent__label-parent {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}

.contact-info__info-parent__label-parent__label {
  margin: 0;
  padding: 20px 30px 20px 0;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: $black;
  cursor: pointer;
  border-bottom: 1px solid $gray-400;
  user-select: none;
}

.contact-info__info-parent__label-parent:after {
  content: "";
  width: 13px;
  height: 9px;
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: url("../img/icons/ico_chevron_dol.svg");
  background-repeat: no-repeat;
}

.contact-info__info-parent__expand {
  display: none;
}

.contact-info__info-parent__checkbox:checked
  ~ .contact-info__info-parent__label-parent:after {
  transform: rotateX(180deg) translateY(-50%);
  top: auto;
  bottom: 50%;
}

.contact-info__info-parent__checkbox:checked
  ~ .contact-info__info-parent__expand {
  display: block;
}

.contact-info__info-parent__expand {
  margin: 30px 0;
}

.contact-info__info-parent__expand__heading {
  font-size: 1.6rem;
  font-weight: 700;
  color: $black;
  line-height: 28px;
  margin: 0;
}

.contact-info__info-parent__expand__text {
  line-height: 26px;
  font-size: 1.4rem;
  color: $black;
  margin: 25px 0 0 0;
}

.contact-info__additional-info {
  margin: 80px 0;
  padding-left: 20px;
  border-left: 1px solid $gray-400;
}

.contact-info__additional-info__h5,
.contact-info__additional-info__p {
  font-size: 1.4rem;
  margin: 0;
  color: $black;
}

.contact-info__additional-info__h5 {
  font-weight: 700;
  color: $gray-500;
}

.contact-info__additional-info__p {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .contact-info {
    margin: 35px 25px;
  }

  .contact-info__header {
    font-size: 3.8rem;
  }

  .contact-info__info-parent__label-parent__label {
    font-size: 1.8rem;
  }

  .contact-info__info-parent__expand__text,
  .contact-info__additional-info__p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1180px) {
  .contact-info {
    margin: 50px auto;
    width: 810px;
  }
}
