.cookies {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: $white;
  padding: 20px 55px;
  align-items: center;
  justify-content: center;
}

.cookies__info {
  font-size: 1.3rem;
  line-height: 18px;
  color: $gray-700;
  text-align: center;
  margin: 0;
}

.cookies__close-btn {
  border: none;
  border-radius: 50px;
  background: $gray-600;
  height: 30px;
  color: $white;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 15px;
  display: block;
  cursor: pointer;
}

.cookies__close-btn__text {
  display: flex;
  text-transform: uppercase;
  margin: 0;
  font-size: 1.3rem;
}

.cookies__close-btn__text__icon {
  margin-left: 5px;
}

@media (min-width: 768px) {
  .cookies {
    display: flex;
    height: 70px;
    padding: 0 55px;
  }

  .cookies__info {
    text-align: right;
  }

  .cookies__close-btn {
    margin: 0 0 0 10px;
  }
}

.cookies--hidden {
  display: none;
}
