.event-details {
  margin: 20px 10px 0;
}

.event-details__header {
  margin-bottom: 20px;
}

.event-details__header__date {
  background: $event-red;
  border-radius: 5px;
  width: 70px;
  color: $white;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.event-details__header__date__day {
  font-size: 2.1rem;
  font-weight: 700;
  margin: 0 0 6px 0;
}

.event-details__header__date__month {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}

.event-details__header__heading {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 0 35px 0 0;
}

.event-details__hr {
  height: 6px;
  background: $gray-400;
  border: none;
}

.event-details__detail-info {
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid $gray-400;
}

.event-details__detail-info__p {
  font-size: 1.4rem;
  color: $gray-800;
  line-height: 28px;
  margin-bottom: 70px;
}

.event-details__detail-info__tag {
  font-size: 1.4rem;
  color: $gray-700;
  text-transform: uppercase;
}

.event-details__detail-info__date {
  margin-top: 35px;
}

.event-details__detail-info__date__span {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 5px;
}

.event-details__detail-info__date__p {
  font-size: 1.4rem;
  color: $gray-700;
  line-height: 28px;
  margin: 0;
}

.event-details__detail-info__author {
  box-sizing: border-box;
  padding-left: 15px;
  border-left: 1px solid $gray-400;
  margin-top: 50px;
}

.event-details__detail-info__author__small {
  color: $gray-500;
  font-weight: 700;
  font-size: 1.4rem;
}

.event-details__detail-info__author__p {
  font-size: 1.4rem;
  color: $gray-800;
  margin: 6px 0 0 0;
}

.event-details__links {
  padding: 20px 0 50px;
}

.event-details__links__link {
  width: 265px;
  height: 40px;
  margin: 30px auto 0;
  font-size: 1.4rem;
  box-shadow: none;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.event-details__links__link:hover {
  text-decoration: none;
}

.event-details__links__link--events-list {
  border: 1px solid $black;
  color: $black;
}

.event-details__links__link--add-event {
  font-weight: 600;
  background: $blue;
  color: $white;
}

.event-details__links__link__span {
  font-size: 2.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 12px;
}

@media (min-width: 768px) {
  .event-details {
    margin-left: 25px;
    margin-right: 25px;
  }

  .event-details__header__date {
    width: 95px;
  }

  .event-details__header__date__day {
    font-size: 2.6rem;
  }

  .event-details__header__heading {
    font-size: 3.8rem;
  }

  .event-details__detail-info__p {
    font-size: 1.6rem;
  }

  .event-details__detail-info__date__span {
    font-size: 1.8rem;
  }

  .event-details__detail-info__date__p {
    font-size: 1.6rem;
  }

  .event-details__links {
    padding: 10px 0 80px;
  }
}

@media (min-width: 1180px) {
  .event-details {
    width: 780px;
    margin: 40px auto 0;
  }

  .event-details__links__link {
    margin-left: 15px;
    margin-right: 15px;
  }
}
