.event-list {
  margin: 20px 10px;
}

.event-list__checkbox__h6,
.event-list__checkbox__flex__parent__label {
  font-size: 1.4rem;
  color: $black;
  font-weight: 600;
}

.event-list__checkbox__flex__parent {
  position: relative;
  cursor: pointer;
}

.event-list__checkbox__flex__parent__label {
  margin: 0;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 40px;
  cursor: pointer;
}

.event-list__checkbox__flex__parent__input,
.event-list__checkbox__flex__parent__input--custom {
  cursor: pointer;
  opacity: 0;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 0;
  background: none;
}

.event-list__checkbox__flex {
  margin-top: 8px;
}

.event-list__checkbox__flex__parent__input--custom {
  opacity: 1;
  border-radius: 5px;
  border: 2px solid $gray-300;
}

.js-event-list__checkbox__flex__parent__input--custom__wydarzenia:after,
.js-event-list__checkbox__flex__parent__input--custom__samorzad:after {
  content: "";
  width: 16px;
  height: 11px;
  display: block;
  position: absolute;
  left: 1px;
  top: 2px;
  background: url("../img/icons/ico_check_light.svg");
}

#js-event-list__checkbox__flex__parent--wydarzenia {
  margin-right: 30px;
}

.event-list__checkbox__h2 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  color: $black;
}

.event-list__checkbox__events-parent {
  margin-top: 20px;
}

.event-list__checkbox__request-event {
  width: 265px;
  height: 40px;
  font-size: 1.4rem;
  font-weight: 600;
  background: $blue;
  color: $white;
  border: none;
  box-shadow: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0;
}

.event-list__checkbox__request-event:hover {
  text-decoration: none;
  color: $white;
}

.event-list__checkbox__request-event__span {
  font-size: 3.2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 40px;
  padding-right: 12px;
}
