.footer {
  background: $gray-200;
  padding: 30px 40px 0 40px;
  position: relative;
}

.footer__logo__address {
  margin: 16px 0 0 0;
  font-size: 1.4rem;
  line-height: 20px;
  color: $gray-700;
}

.footer__sec__links-parent__more {
  margin-top: 35px;
}

.footer__sec__links-parent__more__tag,
.footer__sec__links-parent__follow-us__tag {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  color: $gray-500;
  margin-bottom: 20px;
}

.footer__sec__links-parent__more__icons,
.footer__sec__links-parent__follow-us__socials {
  display: flex;
  justify-content: space-around;
}

.footer__sec__links-parent__more__icons__link {
  width: 96px;
}

.footer__sec__links-parent__more__icons__link__img {
  max-width: 96px;
}

.footer__sec__links-parent__follow-us {
  margin: 40px 0 0 0;
  padding-bottom: 115px;
}

.footer__sec__links-parent__follow-us__socials__link {
  display: flex;
}

.footer__sec__links-parent__follow-us__socials__link,
.footer__sec__links-parent__follow-us__socials__link:hover {
  text-decoration: none;
}

.footer__sec__links-parent__follow-us__socials__link__img {
  max-width: 19px;
  max-height: 19px;
  fill: #666;
}

.footer__sec__links-parent__follow-us__socials__link__tag {
  font-size: 1.4rem;
  color: $gray-700;
  margin: 0 0 0 8px;
}

.footer__landscape {
  width: 100vw;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__landscape__img {
  width: 90vw;
  margin: 0 5vw;
  transform: translateY(5px);
}

.footer__more__icons__link__img {
  fill: #990000;
}

.footer__landscape__copyright {
  height: 50px;
  width: 100%;
  background: $gray-300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__landscape__copyright__info {
  font-size: 1.2rem;
  color: $gray-500;
  margin: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }

  .footer__sec__links__first-col__tag {
    font-weight: 700;
    font-size: 1.2rem;
    color: $gray-500;
    display: block;
    margin-bottom: 18px;
  }

  .footer__sec__links__first-col__link,
  .footer__sec__links__second-col__link {
    display: block;
    text-decoration: none;
    color: $gray-700;
    font-size: 1.4rem;
    margin-bottom: 8px;
  }

  .footer__sec__links__first-col__link:hover,
  .footer__sec__links__second-col__link:hover {
    text-decoration: none;
  }

  .footer__sec__links__first-col {
    margin-right: 85px;
  }

  .footer__sec__links__second-col {
    padding-top: 36px;
  }

  .footer__sec__links-parent {
    display: flex;
  }

  .footer__sec__links-parent__more {
    width: 230px;
  }

  .footer__sec__links-parent__follow-us__socials {
    display: block;
  }

  .footer__sec__links-parent__follow-us {
    width: 100px;
    padding-bottom: 130px;
  }

  .footer__sec__links-parent__more__icons {
    justify-content: space-between;
  }

  .footer__sec__links-parent__follow-us__socials__link {
    margin-bottom: 10px;
  }

  .footer__sec__links-parent__follow-us__socials__link__img--fb {
    padding: 0 5px;
  }

  .footer__landscape__copyright {
    justify-content: flex-start;
    padding: 0 23px;
  }

  .footer__landscape__copyright__info {
    text-align: left;
  }
}

@media (min-width: 1180px) {
  .footer {
    padding-bottom: 30px;
  }

  .footer__sec {
    display: flex;
  }

  .footer__sec__links-parent {
    display: block;
  }

  .footer__sec__links__first-col {
    margin-right: 130px;
  }

  .footer__sec__links-parent {
    margin-left: 130px;
  }

  .footer__sec__links-parent__more {
    margin-top: 0;
  }

  .footer__landscape__img {
    width: 60vw;
    margin: 0 20vw;
  }
}
