.insta {
  margin-top: 76px;
}

.insta__h2 {
  font-size: 2.2rem;
  color: $black;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .insta__h2 {
    font-size: 2.6rem;
    text-align: left;
    margin-left: 23px;
  }
}

@media (min-width: 1180px) {
  .insta__h2 {
    margin-left: 0;
  }
}
