.marquee {
  border: 2px solid $red;
  border-radius: 3px;
  display: flex;
  margin: 15px 10px 0 10px;
}

.marquee__span {
  padding: 6px 22px;
  background: $red;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.marquee__text__p {
  margin: 0;
  font-size: 1.2rem;
  padding: 6px 22px;
}

.marquee__text__p__link {
  color: $black;
  text-transform: uppercase;
}

.marquee__text__p__link,
.marquee__text__p__link:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .marquee {
    margin: 18px 23px 0 23px;
  }
}

@media (min-width: 1180px) {
  .marquee {
    margin: 25px 0 0 0;
    height: 36px;
    width: 75%;
  }

  .marquee__span {
    font-size: 1.6rem;
    padding: 4px 22px;
  }

  .marquee__text__p {
    font-size: 1.5rem;
    padding: 4px 22px;
  }
}

.js-marquee-padding--lower {
  padding: 2px 22px;
}
