.navigation {
  width: 100%;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.21);
  padding: 14px 19px 0 19px;
  position: relative;
}

.navigation__main {
  display: flex;
  justify-content: space-between;
}

.navigation__main__navigation-logo__img {
  width: 164px;
  height: 29px;
}

.navigation__main__navigation-logo__text {
  font-family: "Red Hat Text", sans-serif;
  font-size: 0.9rem;
  line-height: 10px;
  text-transform: uppercase;
  color: $gray-700;
  padding: 9px 0 14px 0;
  margin: 0;
}

.navigation__main__buttons {
  margin-top: 10px;
}

.navigation__main__buttons__search {
  margin-right: 24px;
  cursor: pointer;
}

.navigation__main__buttons__search__svg,
.navigation__main__buttons__menu__svg {
  fill: #231f20;
}

.navigation__toggle-menu {
  fill: $white;
}

.js-navigation__main__buttons__search__svg--opened {
  fill: $blue;
}

.navigation__main__buttons__menu__img {
  width: 100%;
  padding-right: 3px;
}

.navigation__main__buttons__search,
.navigation__main__buttons__menu {
  background: none;
  border: none;
  padding: 0;
  width: 21px;
  height: 21px;
}

.navigation__main__buttons__menu {
  transform: translateY(-5px);
  cursor: pointer;
}

.navigation__menu {
  display: none;
  user-select: none;
}

.navigation__menu__margins {
  display: flex;
  width: 100%;
  max-width: 380px;
}

.js-navigation__menu--display {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  overflow-y: scroll;
  z-index: 10;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.navigation__toggle-menu {
  background: $blue;
  border: none;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation__menu__box {
  background: $white;
  max-width: 320px;
  width: 100%;
}

.navigation__toggle-menu__icon {
  width: 18px;
  height: 13px;
  padding-right: 2px;
}

.navigation__menu__box__first-col,
.navigation__menu__box__second-col,
.navigation__menu__box__third-col,
.navigation__menu__box__fourth-col {
  color: $black;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  position: relative;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
}

.navigation__menu__box__fourth-col {
  font-weight: 400;
}

.navigation__menu__box__second-col__label--link,
.navigation__menu__box__third-col__label--link,
.navigation__menu__box__fourth-col__label--link {
  color: $black;
  text-decoration: none;
}

.navigation__menu__box__first-col__label--more:before,
.navigation__menu__box__second-col__label--more:before,
.navigation__menu__box__third-col__label--more:before {
  width: 12px;
  height: 12px;
  content: "";
  background: url("../img/icons/ico_nav_rozwin.svg");
  display: inline-block;
  position: absolute;
  left: 20px;
  top: calc(30px - 6px);
}

.navigation__menu__box__first-col__label {
  text-transform: uppercase;
}

.navigation__menu__box__first-col__label,
.navigation__menu__box__second-col__label,
.navigation__menu__box__third-col__label,
.navigation__menu__box__fourth-col__label {
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 60px;
  border-bottom: 1px solid $gray-300;
  padding: 0 0 0 50px;
  cursor: pointer;
}

.navigation__menu__box__first-col__input,
.navigation__menu__box__second-col__input,
.navigation__menu__box__third-col__input,
.navigation__menu__box__fourth-col__input {
  height: 100%;
  width: 100%;
  display: none;
}

.navigation__menu__box__second-col,
.navigation__menu__box__third-col,
.navigation__menu__box__fourth-col {
  display: none;
}

.navigation__menu__box__first-col__input:checked
  ~ .navigation__menu__box__second-col,
.navigation__menu__box__second-col__input:checked
  ~ .navigation__menu__box__third-col,
.navigation__menu__box__third-col__input:checked
  ~ .navigation__menu__box__fourth-col {
  display: block;
  background: $gray-200;
}

.navigation__menu__box__second-col__input:checked
  ~ .navigation__menu__box__third-col {
  background: $gray-250;
}

.navigation__menu__box__third-col__input:checked
  ~ .navigation__menu__box__fourth-col {
  background: $gray-275;
}

.navigation__menu__box__first-col__input:checked
  ~ .navigation__menu__box__first-col__label--more:before,
.navigation__menu__box__second-col__input:checked
  ~ .navigation__menu__box__second-col__label--more:before,
.navigation__menu__box__third-col__input:checked
  ~ .navigation__menu__box__third-col__label--more:before {
  background: url("../img/icons/ico_nav_zwin.svg");
  height: 2px;
  top: calc(30px - 1px);
}

.navigation__menu__box__third-col__label--external-link:after,
.navigation__menu__box__fourth-col__label--external-link:after {
  width: 9px;
  height: 9px;
  display: inline-block;
  content: "";
  background: url("../img/icons/ico_link_zewnetrzny.svg");
  margin-left: 10px;
}

.navigation__menu__box__first-col__label,
.navigation__menu__box__actions,
.navigation__menu__bip {
  background: $white;
}

.navigation__main__buttons__contrast,
.navigation__menu__box__actions__contrast {
  display: flex;
  font-size: 1.2rem;
  color: $gray-700;
  margin-right: 24px;
  padding: 0;
  border: none;
  background: none;
  align-items: center;
  cursor: pointer;
}

.navigation__main__buttons__contrast__icon,
.navigation__menu__box__actions__contrast__icon {
  margin-left: 8px;
  width: 24px;
}

.navigation__main__buttons__font-size,
.navigation__menu__box__actions__font-size {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: $gray-700;
  padding: 0;
  margin-right: 24px;
  cursor: pointer;
}

.navigation__main__buttons__font-size__small,
.navigation__menu__box__actions__font-size__small {
  margin-left: 12px;
}

.navigation__main__buttons__font-size__big,
.navigation__menu__box__actions__font-size__big {
  margin-left: 12px;
  font-size: 1.8rem;
}

.navigation__menu__box__actions {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navigation__menu__box__actions__contrast,
.navigation__menu__box__actions__font-size {
  margin: 0;
}

.navigation__main__buttons__bip,
.navigation__menu__bip {
  width: 40px;
  height: 18px;
  margin-right: 30px;
}

.navigation__menu__bip {
  display: block;
  width: 100%;
  padding: 5px 0 80px 25px;
}

.navigation__menu__bip__img {
  width: 41px;
}

@media (min-width: 768px) {
  .navigation {
    min-height: 72px;
    padding: 17px 23px 0 23px;
    margin: 0;
    position: relative;
    z-index: 5;
  }

  .navigation__main__navigation-logo {
    display: flex;
    max-width: 400px;
  }

  .navigation__main__navigation-logo__img {
    width: 205px;
    height: 36px;
    margin-right: 20px;
  }

  .navigation__main__navigation-logo__text {
    font-size: 1.2rem;
    line-height: 14px;
    padding: 4px 0 0 20px;
    border-left: 1px solid $gray-400;
  }

  .navigation__menu {
    padding: 10px 0;
  }

  .js-navigation__menu--display {
    padding: 0;
  }
}

@media (min-width: 1180px) {
  .navigation {
    padding: 17px 0 0 0;
  }

  .navigation__main__buttons {
    display: flex;
    align-items: center;
    margin: 0;
  }

  .navigation__main__buttons__search {
    margin-right: 0;
    padding-left: 16px;
    box-sizing: content-box;
    border-left: 1px solid $gray-400;
  }

  .navigation__main__buttons__menu {
    display: none;
  }

  .navigation__menu {
    display: flex;
    justify-content: flex-end;
    padding: 40px 0 0 0;
  }

  .navigation__menu__box__link {
    font-size: 1.6rem;
    margin-left: 30px;
  }

  .navigation__toggle-menu,
  .navigation__menu__box__actions,
  .navigation__menu__bip {
    display: none;
  }

  .navigation__menu__margins,
  .navigation__menu__box {
    max-width: 100%;
  }

  .navigation__menu__box {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  .navigation__menu__box__first-col {
    width: auto;
    position: static;
    padding-bottom: 20px;
  }

  .navigation__menu__box__first-col__label {
    padding: 0;
    border-bottom: none;
    margin-left: 35px;
    height: auto;
    border-bottom: 3px solid $white;
  }

  .navigation__menu__box__first-col__label:hover,
  .navigation__menu__box__first-col__label--active {
    color: $blue;
    border-color: $blue;
  }

  .navigation__menu__box__first-col__label--more::before,
  .navigation__menu__box__second-col__label--more::before,
  .navigation__menu__box__third-col__label--more::before {
    display: none;
  }

  .navigation__menu__box__first-col__input:checked
    ~ .navigation__menu__box__second-col,
  .navigation__menu__box__second-col__input:checked
    ~ .navigation__menu__box__third-col,
  .navigation__menu__box__third-col__input:checked
    ~ .navigation__menu__box__fourth-col {
    display: none;
    background: none;
  }

  .navigation__menu__box__second-col__input:checked
    ~ .navigation__menu__box__third-col {
    background: none;
  }

  .navigation__menu__box__third-col__input:checked
    ~ .navigation__menu__box__fourth-col {
    background: none;
  }

  .navigation__menu__box__first-col__input:checked
    ~ .navigation__menu__box__first-col__label--more:before,
  .navigation__menu__box__second-col__input:checked
    ~ .navigation__menu__box__second-col__label--more:before,
  .navigation__menu__box__third-col__input:checked
    ~ .navigation__menu__box__third-col__label--more:before {
    background: none;
    height: auto;
    top: auto;
  }
}

@media (max-width: 1179px) {
  .navigation__main__buttons__bip,
  .navigation__main__buttons__font-size,
  .navigation__main__buttons__contrast {
    display: none;
  }
}
