.news-details {
  margin: 20px 10px;
}

.news-details__header {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: $black;
}

.news-details__add-date {
  font-size: 1.2rem;
  color: $gray-500;
}

.news-details__p,
.news-details__article__p,
.news-details__article__ul__li__p,
.news-details__author__p {
  margin-top: 16px;
  font-size: 1.4rem;
  color: $gray-800;
  line-height: 28px;
}

.news-details__img-with-author {
  margin: 50px 10px;
}

.news-details__img-with-author__author {
  text-align: right;
  font-size: 1.4rem;
  color: $gray-500;
  margin-top: 8px;
}

.news-details__img-with-author__img {
  width: 100%;
  border-radius: 6px;
}

.news-details__article {
  margin-bottom: 40px;
}

.news-details__article__h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: $black;
}

.news-details__article__ul {
  padding: 0;
  list-style-position: inside;
  list-style-image: url("../img/icons/ico_ul_pointer.svg");
}

.news-details__article__ul__li__p {
  margin: 0 0 8px 8px;
  display: inline;
}

.news-details__article__gallery {
  margin: 40px 0;
}

.news-details__article__gallery__img {
  padding: 0 10px 20px;
  width: 100%;
}

.news-details__article__ul--alt {
  margin-left: 20px;
  list-style-position: outside;

  .news-details__article__ul__li__p {
    display: block;
  }
}

.news-details__downloads,
.news-details__author,
.news-details__share {
  margin: 20px 0;
  padding-left: 15px;
  border-left: 1px solid $gray-400;
}

.news-details__downloads__h5,
.news-details__author__h5,
.news-details__share__h5 {
  font-size: 1.4rem;
  font-weight: 700;
  color: $gray-500;
}

.news-details__downloads__ul {
  padding: 0 0 0 25px;
  list-style-image: url("../img/icons/ico_download_file.svg");
}

.news-details__downloads__ul__li {
  margin: 25px 0;
}

.news-details__downloads__ul__li__a {
  display: block;
  color: $gray-500;
  margin-left: 5px;
}

.news-details__downloads__ul__li__a:hover {
  text-decoration: none;
}

.news-details__downloads__ul__li__a__p {
  font-size: 1.4rem;
}

.news-details__downloads__ul__li__a__p__span {
  color: $blue;
}

.news-details__author__p {
  margin: 6px 0;
}

.news-details__share {
  margin-bottom: 100px;
}

.news-details__share__list {
  list-style-type: none;
  padding: 0;
}

.news-details__share__list__item {
  margin-top: 25px;
}

.news-details__share__list__item__link:hover {
  text-decoration: none;
}

.news-details__share__list__item__link__p {
  display: inline;
  margin: 0 0 0 15px;
  font-size: 1.4rem;
  color: $gray-500;
}

.news-details__share__list__item__link__icon {
  width: 20px;
  max-height: 18px;
}

.news-details__article__gallery {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media (min-width: 768px) {
  .news-details {
    margin: 30px 20px 80px;
    border-bottom: 1px solid $gray-400;
  }

  .news-details__header {
    font-size: 3.8rem;
  }

  .news-details__add-date {
    font-size: 1.4rem;
  }

  .news-details__p,
  .news-details__article__p {
    font-size: 1.6rem;
  }

  .news-details__img-with-author {
    margin-left: 0;
    margin-right: 0;
  }

  .news-details__img-with-author__img {
    width: 100%;
  }

  .news-details__article__gallery {
    max-width: 600px;
    margin: 50px auto 0;
    grid-template-columns: 1fr 1fr;
  }

  .news-details__article__ul--alt {
    margin-top: 15px;
  }

  .news-details__downloads__ul__li {
    margin: 10px 0;
    padding-left: 10px;
  }

  .news-details__author {
    margin: 50px 0;
  }

  .news-details__share__h5 {
    margin-top: 3px;
  }

  .news-details__share__list {
    margin: 0 0 0 20px;
  }

  .news-details__share__list__item {
    display: inline;
    margin-right: 25px;
  }
}

@media (min-width: 1180px) {
  .news-details {
    max-width: 800px;
    margin: 50px auto 100px;
  }
}
