.news {
  padding: 27px 22px;
  display: grid;
  justify-items: center;
}

.news__box {
  width: 276px;
}

.news__box,
.news__box:hover {
  text-decoration: none;
}

.news__box__small {
  font-size: 1.2rem;
  color: $gray-500;
  display: block;
  margin: 16px 0 4px 0;
}

.news__box__h3 {
  font-size: 1.6rem;
  color: $black;
  font-weight: 700;
  margin: 0 0 40px 0;
  font-family: "Raleway", sans-serif;
}

.news-d-md-grid {
  display: none;
}

.news-header {
  margin: 15px 10px;
  justify-content: space-between;
}

.news-header__heading {
  font-size: 2.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
  margin: 0;
}

.news-header__select {
  padding: 10px 15px;
  border: 2px solid $gray-300;
  border-radius: 6px;
  color: $black;
  font-size: 1.4rem;
  cursor: pointer;
  appearance: none;
}

.more-news {
  height: 40px;
  width: 250px;
  border: 1px solid $black;
  border-radius: 50px;
  color: $black;
  margin: 20px auto 60px;
}

.more-news__p {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin: 0;
  display: inline;
}

.more-news:hover {
  text-decoration: none;
  color: $black;
}

.calendar__box__events__event-box--single-event__headers__small--more {
  display: none;
}

.news__box__p {
  font-size: 1.4rem;
  color: $gray-800;
}

@media (min-width: 768px) {
  .news {
    max-width: 580px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
  }

  .news-d-md-grid {
    display: grid;
    padding-top: 0;
  }

  .news-header {
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .news__box--big {
    grid-column: 1 / 3;
    width: 100%;
  }

  .news-header__heading {
    font-size: 2.6rem;
  }

  .news__box--big__img {
    width: 100%;
  }

  .news-pagination {
    margin: 20px auto 50px;
    list-style-type: none;
  }

  .news-pagination__li {
    width: 50px;
    height: 40px;
    border: 1px solid $black;
    border-radius: 19px;
    background: none;
    margin: 0 4px;
    cursor: pointer;
  }

  .news-pagination__li--active {
    background: $blue;
    border-color: $blue;
    font-weight: 700;
  }

  .news-pagination__li__a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
  }

  .news-pagination__li__a:hover {
    text-decoration: none;
    color: $black;
  }

  .news-pagination__li--active__a {
    color: $white;
  }

  .news-pagination__li__a__img {
    height: 13px;
    width: 10px;
  }

  .news-pagination__li__a__img--prev {
    transform: rotateY(180deg);
  }

  .news-pagination__li__a__p {
    margin: 0;
    font-size: 1.4rem;
  }
}

@media (min-width: 1180px) {
  .news {
    margin: 40px 0 0 15px;
    padding: 0;
    max-width: 100%;
    width: 100%;
    justify-items: start;
  }

  .news__box__small {
    font-size: 1.2rem;
  }

  .news__box__h3 {
    font-size: 1.6rem;
    margin: 0 0 12px 0;
  }

  .news-header {
    justify-content: space-between;
  }

  .news-d-md-grid,
  .news-d-xl-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: start;
    margin: 30px 0 50px 0;
  }

  .news__box--big {
    padding-right: 20px;
  }

  .news__box--big--first {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
  }

  .news__box--big--second {
    grid-column: 1 / 3;
  }

  .news__box--big--third {
    grid-column: 3 / 5;
  }
}
