.calendar__box__events__event-box--single-event__headers__small--more {
  display: block;
  font-size: 1.2rem;
  color: $gray-700;
}

.calendar__box__events__event-box {
  height: 150px;
}

.calendar__box__events__event-box--single-event__date {
  height: 100%;
}

#news-header {
  font-size: 2.2rem;
  font-weight: 700;
  color: $black;
  text-align: center;
  max-width: 575px;
  margin: 70px auto 0;
}

@media (min-width: 768px) {
  #news-header {
    font-size: 2.6rem;
    text-align: left;
  }
}

@media (min-width: 1180px) {
  #news-header {
    max-width: 100%;
  }

  .news {
    margin: 30px 0 80px 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
