.popular-functions {
  margin: 65px 10px 0 10px;
}

.popular-functions__h2 {
  font-size: 2.2rem;
  color: $black;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 28px;
  font-weight: 700;
}

.popular-functions__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.popular-functions__grid__single-function {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 128px;
}

.popular-functions__grid__single-function,
.popular-functions__grid__single-function:hover {
  text-decoration: none;
}

.popular-functions__grid__single-function__img-box {
  width: 71px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-functions__grid__single-function__img-box__img {
  max-width: 71px;
  max-height: 61px;
  fill: #990000;
}

.popular-functions__grid__single-function__p {
  color: $gray-700;
  font-size: 1.3rem;
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  .popular-functions {
    max-width: 720px;
    margin: 0 auto;
    margin-top: 35px;
  }

  .popular-functions__h2 {
    font-size: 2.6rem;
    text-align: left;
  }

  .popular-functions__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 1180px) {
  .popular-functions {
    max-width: 100%;
    margin-top: 50px;
  }

  .popular-functions__grid {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
  }

  .popular-functions__grid__single-function__p {
    margin-top: 5px;
  }
}
