.search-bar {
  background: $gray-50;
  padding: 20px 15px 15px 15px;
  display: none;
}

.js-search-bar--display {
  display: block;
}

.search-bar__form {
  max-width: 490px;
}

.search-bar__form__submit {
  display: block;
}

.search-bar__form__input {
  width: 100%;
  border: 2px solid $gray-300;
  border-radius: 6px;
  display: flex;
  height: 40px;
}

.search-bar__form__input__text-input,
.search-bar__form__input__select-box__select {
  border: none;
  background: none;
  background: $white;
}

.search-bar__form__input__text-input {
  width: 65%;
  cursor: text;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-left: 8px;
  font-size: 14px;
  color: $gray-500;
  height: 100%;
}

.search-bar__form__input__select-box {
  width: 35%;
  display: flex;
  background: $white;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.search-bar__form__input__select-box__select {
  cursor: pointer;
  appearance: none;
  width: calc(100% - 25px);
  margin: 5px 0;
  border-left: 1px solid $gray-300;
  padding-left: 5%;
  font-size: 14px;
  color: $gray-500;
}

.search-bar__form__input__select-box__select-icon {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.search-bar__form__input__select-box__select-icon__img {
  width: 13px;
}

.search-bar__form__submit {
  border: none;
  border-radius: 6px;
  background: $blue;
  padding: 13px 22px;
  text-transform: uppercase;
  color: $white;
  font-size: 13px;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .search-bar {
    padding: 40px 0;
  }

  .search-bar__form {
    display: flex;
    margin: 0 auto;
  }

  .search-bar__form__submit {
    margin: 0 0 0 10px;
    height: 40px;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
  }
}

@media (min-width: 1180px) {
  .search-bar__form {
    max-width: 700px;
  }
}
