.slider {
  padding-bottom: 80px;
  position: relative;
  background: $gray-100;
}

.slider__box__img {
  width: 100%;
}

.slider__small {
  font-size: 1.2rem;
  color: $gray-500;
  display: block;
  margin: 29px 22px 0 22px;
}

.slider__header {
  font-size: 1.8rem;
  color: $black;
  font-weight: 700;
  margin: 4px 22px 10px 22px;
  font-family: "Raleway", sans-serif;
}

.slider__p {
  font-size: 1.4rem;
  color: $gray-800;
  line-height: 22px;
  margin: 0 22px 0 22px;
}

@media (min-width: 768px) {
  .slider {
    max-width: 575px;
    margin: 35px auto 0;
    background: $white;
  }

  .slider__small,
  .slider__header,
  .slider__p {
    margin-left: 0;
  }
}

@media (min-width: 1180px) {
  .slider {
    margin: 40px 0 0 0;
    padding-bottom: 0;
    padding-right: 5px;
  }

  .slick-dots {
    transform: translateY(-50px);
    bottom: auto;
  }

  .slick-dots li button::after {
    width: 16px;
    height: 16px;
    content: "";
    background: $white;
    position: absolute;
    top: 1px;
    left: -2px;
    border-radius: 50px;
    z-index: -5;
  }

  .slider__small {
    margin: 22px 0 0 0;
    font-size: 1.2rem;
  }

  .slider__header {
    font-size: 1.8rem;
  }

  .slider__p {
    font-size: 1.4rem;
  }
}

.slick-dots {
  background: none !important;
}

.slick-dots li,
.slick-dots li button {
  background: none !important;
}
