.subpage-nav {
  margin: 50px 50px 0 0;
  width: 320px;
}

.subpage-nav__header {
  display: block;
}

.subpage-nav__header,
.subpage-nav__list__item__link {
  margin: 0;
  color: $black;
  font-size: 1.4rem;
}

.subpage-nav__header {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid $gray-400;
}

.subpage-nav__list {
  padding: 0;
  list-style-type: none;
}

.subpage-nav__list__item {
  padding-left: 50px;
  min-height: 60px;
  border-bottom: 1px solid $gray-400;
  display: flex;
  align-items: center;
}

.subpage-nav__list__item__link {
  padding: 15px 10px 15px 0;
  width: 100%;
  height: 100%;
}

.subpage-nav__list__item__link:hover {
  text-decoration: none;
  color: $black;
}

.subpage-nav__list__item__link__text {
  margin: 0;
  display: inline;
  position: relative;
}

.subpage-nav__list__item--active {
  background: $blue;
  font-weight: 700;

  .subpage-nav__list__item__link {
    color: $white;
  }
}

.subpage-nav__list__item__link--external {
  .subpage-nav__list__item__link__text:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    right: -16px;
    background: url("../img/icons/ico_link_zewnetrzny.svg");
  }
}
