.pc-submenu {
  background: $gray-50;
  user-select: none;
}

.pc-submenu__parent {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 40px 0;
}

.pc-submenu__parent__column {
  max-width: 240px;
  min-width: 120px;
}

.pc-submenu__parent__column__h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.pc-submenu__parent__column__link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: $black;
  margin-bottom: 8px;
}

.pc-submenu__parent__column__link:hover {
  text-decoration: none;
  color: $blue;
}

.pc-submenu__parent__column__link--external:after {
  width: 9px;
  height: 9px;
  display: inline-block;
  content: "";
  background: url("../img/icons/ico_link_zewnetrzny.svg");
  margin-left: 10px;
}

.pc-submenu__gmina-kornik,
.pc-submenu__sprawy-obywatelskie,
.pc-submenu__aktualnosci,
.pc-submenu__strony-tematyczne,
.pc-submenu__kontakt {
  display: none;
}

.js-submenu--display {
  display: flex;
}
