.text-article {
  margin: 20px 10px;
}

.text-article__header {
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: $black;
}

.text-article__header--border-bottom {
  padding-bottom: 15px;
  border-bottom: 5px solid $gray-400;
}

.text-article__add-date {
  font-size: 1.2rem;
  color: $gray-500;
  display: block;
  padding-bottom: 15px;
  border-bottom: 5px solid $gray-400;
}

.text-article__p,
.text-article__h3,
.text-article__article__h3,
.text-article__article__table__child__h3,
.text-article__article__table__child__p,
.text-article__article__p,
.text-article__author__p,
.text-article__article__link {
  margin-top: 16px;
  font-size: 1.4rem;
  color: $gray-800;
  line-height: 28px;
}

.text-article__article__link {
  color: $blue;
  text-decoration: underline;
}

.text-article__h3,
.text-article__article__h3,
.text-article__article__table__child__h3 {
  font-weight: 700;
  color: $black;
}

.text-article__ol,
.text-article__article__ol {
  margin-top: 30px;
  padding: 0;
  list-style-position: inside;
  font-size: 1.4rem;
  color: $black;
  line-height: 28px;
}

.text-article__ol__li__p,
.text-article__article__ol__li__p,
.text-article__article__table__child__p,
.text-article__article__p,
.text-article__author__p,
.text-article__featured__p,
.text-article__article__link {
  display: inline;
}

.text-article__article {
  margin-top: 35px;
}

.text-article__article__table {
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px 0;
}

.text-article__article__table__child {
  padding: 20px 4px 20px 15px;
  border-top: 1px solid $gray-500;
  border-right: 1px solid $gray-500;
  border-bottom: 1px solid $gray-500;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.text-article__article__table__child:first-child {
  padding: 20px 3px 20px 15px;
  border-left: 1px solid $gray-500;
}

.text-article__article__table__child__h3,
.text-article__article__table__child__p {
  margin: 0;
  width: 160px;
}

.text-article__downloads,
.text-article__author,
.text-article__featured {
  margin: 40px 0;
  padding-left: 15px;
  border-left: 1px solid $gray-400;
}

.text-article__downloads__h5,
.text-article__author__h5,
.text-article__featured__h5 {
  font-size: 1.4rem;
  font-weight: 700;
  color: $gray-500;
}

.text-article__downloads__ul,
.text-article__featured__list {
  padding: 0;
  list-style-type: none;
}

.text-article__featured__list {
  margin-top: 30px;
}

.text-article__downloads__ul__li {
  margin: 25px 0;
}

.text-article__downloads__ul__li__a {
  display: block;
  color: $black;
}

.text-article__downloads__ul__li__a:hover {
  text-decoration: none;
}

.text-article__downloads__ul__li__a__img {
  width: 38px;
  height: 35px;
}

.text-article__downloads__ul__li__a__p {
  margin: 0 0 0 20px;
  font-size: 1.4rem;
}

.text-article__author {
  margin: 40px 0;
}

.text-article__author__h5 {
  margin: 12px 0 0 0;
}

.text-article__author__p {
  margin: 6px 0;
}

.text-article__featured__list__item {
  margin-top: 14px;
}

.text-article__featured__list__item:first-child {
  margin-top: 0;
}

.text-article__featured__list__item__link {
  color: $black;
  font-size: 1.4rem;
  font-weight: 700;
}

.text-article__featured__list__item__link:hover {
  text-decoration: none;
  color: $black;
}

.text-article__article--person-info {
  padding-bottom: 20px;
  display: flex;
}

.text-article__article--person-info__img {
  width: 84px;
  height: 84px;
}

.text-article__article--person-info__infos {
  margin-left: 20px;
}

.text-article__article--person-info__infos__header,
.text-article__article--person-info__infos__text,
.text-article__article--person-info__infos__link,
.text-article__article--person-info__infos__link__text {
  margin: 0;
  font-size: 1.4rem;
  color: $black;
}

.text-article__article--person-info__infos__header {
  font-weight: 700;
}

.text-article__article--person-info__infos__text {
  margin-top: 8px;
  text-transform: uppercase;
}

.text-article__article--person-info__infos__link {
  margin-top: 8px;
  display: flex;
}

.text-article__article--person-info__infos__link__img {
  margin-right: 10px;
  width: 20px;
}

.text-article__article--person-info__infos__link--show-more {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 75px;
  height: 35px;
  border: 1px solid $black;
  border-radius: 50px;
}

@media (min-width: 768px) {
  .text-article {
    margin: 35px 25px;
  }

  .text-article__header {
    font-size: 3.8rem;
  }

  .text-article__add-date {
    padding: 10px 0 20px;
    font-size: 1.4rem;
  }

  .text-article__ol,
  .text-article__article__ol,
  .text-article__p,
  .text-article__h3,
  .text-article__article__h3,
  .text-article__article__p,
  .text-article__author__p,
  .text-article__downloads__h5,
  .text-article__author__h5,
  .text-article__featured__h5,
  .text-article__downloads__ul__li__a__p,
  .text-article__featured__list__item__link__text,
  .text-article__article__link {
    font-size: 1.6rem;
  }

  .text-article__article__table {
    width: 720px;
    overflow-x: hidden;
  }

  .text-article__downloads__ul {
    padding-left: 25px;
  }

  .text-article__author {
    margin: 50px 0;
  }

  .text-article__featured {
    margin-bottom: 80px;
  }

  .text-article__article--person-info__img {
    width: 200px;
    height: 200px;
  }

  .text-article__article--person-info__infos {
    margin-left: 50px;
    padding: 5px 0;
    position: relative;
  }

  .text-article__article--person-info__infos__link--show-more {
    position: absolute;
    bottom: 5px;
  }

  .text-article__downloads,
  .text-article__author {
    margin: 80px 0;
  }
}

@media (min-width: 1180px) {
  .text-article {
    width: auto;
    max-width: 810px;
    margin: 50px auto;
  }

  .text-article__article__table {
    margin: 40px auto;
  }
}
