//$white:    #fff !default;
$gray-50: #f8f8f8;
$gray-100: #f7f7f7;
$gray-200: #fafafa;
$gray-250: #f4f4f4;
$gray-275: #f1f1f1;
$gray-300: #e4e4e4;
$gray-400: #ccc;
$gray-500: #999;
$gray-600: #6c6c6c;
$gray-700: #666;
$gray-800: #43484d;
//$gray-900: #212529 !default;
$black: #333;

$red: #cf0000;
$red-alt: #ed1c24;
$event-red: #a51118;
$event-yellow: #ecbf0b;
$blue: #0b78e3;
$indigo: #03afef;

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 1180px,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1180px,
);
