.weather {
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.weather__child {
  display: flex;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.weather__child__img {
  width: 30px;
  height: 30px;
  margin: 0 7px 0 5px;
}

.weather__child__span {
  font-weight: 600;
}

.weather__child__p {
  margin: 0;
}

@media (min-width: 768px) {
  .weather {
    margin-top: 35px;
  }

  .weather__child {
    margin: 0 15px;
  }

  .weather__child:first-child {
    justify-content: flex-end;
  }

  .weather__child:last-child {
    justify-content: flex-start;
  }
}

@media (min-width: 1180px) {
  .weather {
    margin: 25px 0 0 0;
    height: 36px;
    width: 25%;
  }

  .weather__child__p {
    margin: 0;
    font-size: 1.3rem;
  }

  .weather__child__span {
    font-size: 1.8rem;
    color: $indigo;
  }
}

@media (max-width: 1179px) {
  .weather {
    margin-bottom: 15px;
  }
}
