.websites {
  margin: 85px 10px 0 10px;
}

.websites__h2 {
  font-size: 2.2rem;
  color: $black;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

.websites__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.websites__grid__single-grid {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 128px;
}

.websites__grid__single-grid,
.websites__grid__single-grid:hover {
  text-decoration: none;
}

.websites__grid__single-grid__img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 67px;
}

.websites__grid__single-grid__img-box__img {
  max-width: 82px;
  max-height: 67px;
  fill: #990000;
}

.websites__grid__single-grid__img-box__img--more {
  max-width: 30px;
}

.websites__grid__single-grid__p {
  color: $gray-700;
  margin: 0;
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .websites {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }

  .websites__h2 {
    font-size: 2.6rem;
    text-align: left;
  }

  .websites__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media (min-width: 1180px) {
  .websites {
    max-width: 100%;
  }

  .websites__grid {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 16px;
  }

  .websites__grid__single-grid__p {
    margin-top: 5px;
  }
}
