.dncalendar-inactive {
	opacity: 0.2;
}

.dncalendar-header {
	margin: 20px 0;
    position: relative;
}

.dncalendar-header h2 {
	color: #434343;
    font-size: 20px;
    line-height: 1;
    text-align: center;
}

.dncalendar-header .dncalendar-links {
	height: 19px;
    width: 100%;
    position: absolute;
    top: 2px;
}

.dncalendar-header .dncalendar-links div {
	cursor: pointer;
    width: 35px;
    height: 35px;
    -webkit-user-select: none;
    touch-action: pan-y;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dncalendar-header .dncalendar-links .dncalendar-next-month {
	position: absolute;
    right: -6px;
    background: url('../images/arrow.png') no-repeat -111px 0px;
    background-size: 148px 31px;
}

.dncalendar-header .dncalendar-links .dncalendar-prev-month {
	position: absolute;
    left: 10px;
    background: url('../images/arrow.png') no-repeat 0px 0px;
    background-size: 148px 31px;
}

.dncalendar-body {
	margin: 0 0 10px;
}

.dncalendar-body table {
	width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 15px;
}

.dncalendar-body table th, td {
	display: table-cell;
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.dncalendar-body thead td {
	color: #727272;
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px 0;
}

.dncalendar-body tbody tr td {
	width: 13%;
	color: #8c8c8c;
	text-decoration: none;
	vertical-align: middle;
}

/* .dncalendar-body tbody td#calendarClick {
	cursor: pointer;
} */

.dncalendar-body tbody td.calendarClick {
	color: #434343;
	background: #fff;
}
	
.dncalendar-body tbody td .entry {
	padding: 11px 0 13px;
	position: relative
}

.dncalendar-body tbody td.calendarClick:active {
	background: #ddd
}

.dncalendar-body tbody td .entry:after
{
	content:attr(data-title);
	left:0;
	position:absolute;
	font-size:10px;
	bottom:1px;
	text-align:center;
	width:100%
}

.dncalendar-body table td.holiday {
	opacity: .6;
}

.dncalendar-body table td.default-date {
	border: 1px solid #96D4FD;
	color: #96D4FD !important;
	background: #e6f2fa;
}

.dncalendar-body table td.calendarClick.default-date {
	border: 1px solid #0d7fcc;
	color: #0d7fcc !important;
	background: #e6f2fa;
}

.dncalendar-body table td.today-date .entry {
    color: #fff !important;
    background: #0b78e3;
    border-radius: 5px;
}

.dncalendar-body table td.calendarClick.today-date .entry {
    color: #fff !important;
    background: #0b78e3;
    border-radius: 5px;
}

.dncalendar-body table td.note--wydarzenie,
.dncalendar-body table td.calendarClick.note--wydarzenie,
.dncalendar-body table td.note--samorzad,
.dncalendar-body table td.calendarClick.note--samorzad {
	position: relative;
}

.dncalendar-body table td.note:after,
.dncalendar-body table td.note--wydarzenie:before,
.dncalendar-body table td.note--samorzad:before {
	display: block;
    width: 100%;
    height: 5px;
    content: "";
    background: rgba(0,0,0,0);
    border-bottom: 3px solid #a51118;
}

.dncalendar-body table td.note--samorzad:before {
    border-color: #ecbf0b;
}

.dncalendar-body table td.calendarClick.note--wydarzenie:before,
.dncalendar-body table td.calendarClick.note--samorzad:before {
	display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 0;
    right: 0;
    content: "";
    background: #fff;
    border-bottom: 3px solid #a51118;
}

.dncalendar-body table td.calendarClick.note--samorzad:before {
    border-color: #ecbf0b;
}

.dncalendar-note-list {
	list-style: none;
	margin-left: 4.5%;
	margin-bottom: 20px;
	padding: 0;
	color: #999
}

.dncalendar-note-list .date {
	color: #d00
}