.breadcrumbs {
  background: $gray-50;
  max-height: 75px;
  min-height: 35px;
}

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 5px 10px;
}

.breadcrumbs__list__item {
  display: inline;
}

.breadcrumbs__list__item + .breadcrumbs__list__item:before {
  padding: 8px;
  content: url("../img/icons/ico_breadcrumbs.svg");
}

.breadcrumbs__list__item__link {
  font-size: 1.2rem;
  color: $gray-500;
}

@media (min-width: 768px) {
  .breadcrumbs__list {
    padding: 5px 0 5px 25px;
  }
}

@media (min-width: 1180px) {
  .breadcrumbs__list {
    width: 1180px;
    padding: 0;
    margin: 0 auto;
  }
}
