.footer {
  width: 100%;
  height: 70px;
  background: $gray-200;
  border-top: 1px solid $gray-400;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 15;
}

.footer__text {
  font-size: 1.2rem;
  color: $gray-500;
  text-align: center;
  margin: 0;
}

.js-footer--z-index {
  z-index: 0;
}