html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  padding-bottom: 70px;
}

.js-greater-font {
  font-size: 12px;
}

.js-high-contrast * {
  background: #000 !important;
  color: #ff0 !important;
  border-color: #ff0 !important;
  fill: #ff0 !important;
}

.js-overflow-hidden {
  overflow-y: hidden;
  height: 100vh;
}

.container {
  margin: 0 auto;
  padding: 0;
}

button {
  outline: none !important;
}
