.subpage-nav {
  margin: 50px 50px 50px 0;
  width: 320px;
  position: relative;
}

.subpage-nav__header,
.subpage-nav__menu__second__back-btn__text,
.subpage-nav__menu__third__back-btn__text {
  display: block;
  margin: 0;
  color: $black;
  font-size: 1.4rem;
  padding-left: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.subpage-nav__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-400;
  height: 60px;
}

.subpage-nav__menu__second__back-btn__text,
.subpage-nav__menu__third__back-btn__text {
  position: relative;
  display: flex;
}

.subpage-nav__menu__second__back-btn__text:before,
.subpage-nav__menu__third__back-btn__text:before {
  content: "";
  width: 9px;
  height: 14px;
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%) rotateY(180deg);
  background: url("../img/icons/ico_chevron_prawo.svg");
  background-repeat: no-repeat;
}

.subpage-nav__menu__first-col__btn,
.subpage-nav__menu__second-col__btn {
  background: none;
  border: none;
  padding: 0;
  width: 100%;
}

.subpage-nav__menu__second__back-btn,
.subpage-nav__menu__third__back-btn,
.subpage-nav__menu__first-col__btn,
.subpage-nav__menu__second-col__btn {
  border: none;
  background: none;
  width: 100%;
  padding: 0;
  text-align: left;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $gray-300;
  cursor: pointer;
}

.subpage-nav__menu__first-col,
.subpage-nav__menu__second-col,
.subpage-nav__menu__third-col,
.subpage-nav__menu__fourth-col {
  background: none;
  border: none;
  width: 100%;
  text-align: left;
}

.subpage-nav__menu__first-col__label,
.subpage-nav__menu__second-col__label,
.subpage-nav__menu__third-col__label,
.subpage-nav__menu__fourth-col__label,
.subpage-nav__menu__first-col__btn,
.subpage-nav__menu__second-col__btn {
  position: relative;
}

.subpage-nav__menu__first-col__label,
.subpage-nav__menu__second-col__label,
.subpage-nav__menu__third-col__label,
.subpage-nav__menu__fourth-col__label,
.subpage-nav__menu__first-col__btn__text,
.subpage-nav__menu__second-col__btn__text,
.subpage-nav__menu__third-col__btn__text,
.subpage-nav__menu__first-col__label:hover,
.subpage-nav__menu__second-col__label:hover,
.subpage-nav__menu__third-col__label:hover,
.subpage-nav__menu__fourth-col__label:hover,
.subpage-nav__menu__first-col__btn__text:hover,
.subpage-nav__menu__second-col__btn__text:hover,
.subpage-nav__menu__third-col__btn__text:hover {
  font-size: 1.4rem;
  color: $black;
  text-decoration: none;
  user-select: none;
  margin: 0;
}

.subpage-nav__menu__first-col__input,
.subpage-nav__menu__second-col__input,
.subpage-nav__menu__third-col__input,
.subpage-nav__menu__fourth-col__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.subpage-nav__menu__first-col__btn:before,
.subpage-nav__menu__second-col__btn:before,
.subpage-nav__menu__third-col__btn:before {
  width: 12px;
  height: 12px;
  content: "";
  background: url("../img/icons/ico_nav_rozwin.svg");
  display: inline-block;
  position: absolute;
  left: 20px;
  top: calc(30px - 6px);
}

.subpage-nav__menu__first-col__btn__text,
.subpage-nav__menu__second-col__btn__text,
.subpage-nav__menu__third-col__btn__text {
  padding: 0 0 0 50px;
  margin: 0;
}

.subpage-nav__menu__first-col__label,
.subpage-nav__menu__second-col__label,
.subpage-nav__menu__third-col__label,
.subpage-nav__menu__fourth-col__label {
  color: $black;
  display: flex;
  align-items: center;
  margin: 0;
  min-height: 60px;
  border-bottom: 1px solid $gray-300;
  padding: 5px 0 5px 50px;
  cursor: pointer;
}

.subpage-nav__menu__second,
.subpage-nav__menu__third {
  position: absolute;
  top: 0;
  background: $white;
  display: none;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.subpage-nav__menu__third {
  z-index: 6;
}

.subpage-nav__menu__fourth {
  z-index: 7;
}

#js-subpage-nav__menu__link--active,
#js-subpage-nav__menu__link--active:hover {
  background: $blue;
  color: $white;
  font-weight: 700;
}
